@page
@model follows.Pages.panel.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>docentes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.docentes.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.docentes.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.docentes.course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.docentes.course)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.docentes?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
